@page "/access-denied"

<div class="access-denied-container">
    <p>Nemáš povolenie pre túto stránku.</p>
    <div class="actions">
        <a href="/" class="btn btn-primary">Return to Home</a>
        <a href="/login" class="btn btn-secondary">Login</a>
    </div>
</div>

