@page "/add-book"

@using PageKeep.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.DataProtection.Repositories
@using PageKeep.dbcontext
@inject NavigationManager NavManager
@inject AppDbContext DbContext
@rendermode InteractiveServer

<AuthorizeView Roles="Admin" Context="authContext">
    <Authorized Context="authorizedContext">
        <div class="add-book-container">
            <h2>Pridať knihu</h2>
            <EditForm Model="@BookModel" OnValidSubmit="BookAdd" FormName="AddBookForm">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="title">Názov</label>
                    <InputText id="title" class="form-control" @bind-Value="BookModel.Title" placeholder="Zadajte názov knihy" />
                    <ValidationMessage For="() => BookModel.Title" />
                </div>

                <div class="form-group">
                    <label for="author">Autor</label>
                    <InputText id="author" class="form-control" @bind-Value="BookModel.Author" placeholder="Zadajte meno autora" />
                    <ValidationMessage For="() => BookModel.Author" />
                </div>

                <div class="form-group">
                    <label for="price">Cena</label>
                    <InputNumber id="price" class="form-control" @bind-Value="BookModel.Price" placeholder="Zadajte cenu" />
                    <ValidationMessage For="() => BookModel.Price" />
                </div>

                <div class="form-group">
                    <label for="image">URL obrázka</label>
                    <InputText id="image" class="form-control" @bind-Value="BookModel.Image" placeholder="Zadajte URL obrázka" />
                    <ValidationMessage For="() => BookModel.Image" />
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Pridať knihu</button>
                </div>
            </EditForm>


            @if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="alert alert-success mt-3">@successMessage</div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <h3>Prístup zamietnutý</h3>
        <p>Na prístup k tejto stránke musíte byť prihlásený ako admin.</p>
    </NotAuthorized>
</AuthorizeView>



@code {
    [SupplyParameterFromForm]
    public BookModel BookModel { get; set; } = new();

    private string? successMessage;

    private async Task BookAdd()
    {
        DbContext.Books.Add(BookModel);
        await DbContext.SaveChangesAsync();
        successMessage = "Kniha bola úspešne pridaná!";
    }
}

