@page "/"

<section id="home" class="home">
    <div class="container">
        <h2>Vitajte v našom knižnom eshope!</h2>
        <p>Objavte svoju ďalšiu obľúbenú knihu.</p>
    </div>
</section>

<section class="books" id="books">
    <div class="container">
        <h2>Naše Knihy</h2>
        <div class="book-grid">
            <a href="/book/1" class="book">
                <img src="res/dune.jpg" alt="Kniha 1">
                <h3>Duna</h3>
                <p>Autor: Frank Herbert</p>
                <p>Cena: 12,99 €</p>
            </a>
            <a href="/book/2" class="book">
                <img src="res/metro.jpeg" alt="Kniha 2">
                <h3>Metro 2035</h3>
                <p>Autor: Dmitry Glukhovsky</p>
                <p>Cena: 15,99 €</p>
            </a>
            <a href="/book/3" class="book">
                <img src="res/wiedzmin.jpeg" alt="Kniha 3">
                <h3>Zaklínač</h3>
                <p>Autor: Andrzej Sapkowski</p>
                <p>Cena: 9,99 €</p>
            </a>
        </div>
    </div>
</section>
