@page "/login"

<div class="container2">
    <h2>Prihlásenie</h2>
    <form action="authenticate" method="POST" class="login-form">
        <label for="username">Používateľské meno:</label>
        <input type="text" id="username" name="username" placeholder="Zadajte používateľské meno" required>

        <label for="password">Heslo:</label>
        <input type="password" id="password" name="password" placeholder="Zadajte heslo" required>

        <button type="submit" class="btn-submit">Prihlásiť sa</button>
    </form>
</div>
@code {

}
