@inherits LayoutComponentBase

    @if (!_isLoginPage)
    {
        <header>
            <NavMenu/>
        </header>
    }

    <main>
        @Body
    </main>

@code {
    [Inject]
    private NavigationManager? NavManager { get; set; }
    private bool _isLoginPage;

    protected override void OnParametersSet()
    {
        var currentUri = NavManager?.Uri;
        if (currentUri != null) _isLoginPage = currentUri.Contains("/login", StringComparison.OrdinalIgnoreCase);
    }

    
}