<div class="header-container">
    <div class="title-bar">
        <h1>Knižný Eshop</h1>
        <div class="auth-links">
            <AuthorizeView>
                <Authorized>
                    <a href="/logout">Logout</a>
                    <div class="user-message">@_message</div>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>    
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
    <nav class="nav-container">
        <ul class="nav-menu">
            <li><a href="/">Domov</a></li>
            <li><a href="/books">Knihy</a></li>
            <li><a href="/info">Info</a></li>
            <AuthorizeView Roles = "Admin">
                <Authorized>
                    <li><a href="/add-book">Pridaj knihu</a></li>
                </Authorized>
            </AuthorizeView>
        </ul>
    </nav>
</div>

@code {
    private string? _message;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthStateTask != null)
        {
            var authState = await AuthStateTask;
            if (authState.User.Identity?.IsAuthenticated == true)
            {
                _message = $"Ahoj {authState.User.Identity.Name}\nVitajte späť!";
            }
        }
    }
}