<div class="container1">
    <h1>Knižný Eshop</h1>
    <nav>
        <ul>
            <li><a href="#home">Domov</a></li>
            <li><a href="#books">Knihy</a></li>
            <li><a href="info.html">O nás</a></li>
        </ul>
    </nav>
</div>
